<mat-toolbar>
  <div fxLayout="row" fxLayoutAlign="start center">
    <button class="button" (click)="menu.toggle()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <span>ALURAPIC</span>
  </div>
  <span class="spacer"></span>
  <div fxLayout="row" fxlayoutalign="end center">
    <div *ngIf="(user$ | async) as user; else login">
      <i class="fa fa-user-circle mr-1"></i>
      <a class="mr-1">{{user.name}}</a>
      <a (click)="logout()">(Logout)</a>
    </div>
    <ng-template #login>
            <span class="navbar-text">
                <a [routerLink]="['']">Please, login!</a>
            </span>
    </ng-template>
  </div>
</mat-toolbar>
<ap-menu #menu>
  <ul class="list-unstyled">
    <li showIfLogged>
      <a [routerLink]="['p','add']">Upload</a>
    </li>
  </ul>
</ap-menu>
